<div class="row mb-4 homepage">
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">Start sharing your thoughts</p>
        <p class="card-text">today!</p>
        <button href="#" class="card-btn">Sign Up</button>
        <button href="#" class="card-btn">Login</button>
      </div>
    </div>
</div>