body {
    background-image: url(../images/web-tionary\ photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.card {
    height: 300px;
    padding: 30px;
    margin: 40px auto 40px auto;
}

.card-title {
    text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-text{
    margin:20px;
}

.card-btn{
    background-color: #316FF6;
    text-decoration: none;
    color: white;
    border-color: #316FF6;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.loginForm {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 15px;
    margin-left: 25px;
}

.signupForm {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 15px;
    margin-left: 25px;
    padding: 25px;
}

.title {
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.post{
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}